<!-- jQuery -->
<script src="http://sbootstrap-freelancer.startbootstrapc.netdna-cdn.com/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ site.gitgub.url }}/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="{{ site.gitgub.url }}/js/jquery.easing.min.js"></script>
<script src="http://sbootstrap-freelancer.startbootstrapc.netdna-cdn.com/js/classie.js"></script>
<script src="http://sbootstrap-freelancer.startbootstrapc.netdna-cdn.com/js/cbpAnimatedHeader.js"></script>
<!-- Contact Form JavaScript -->
<script src="http://sbootstrap-freelancer.startbootstrapc.netdna-cdn.com/js/jqBootstrapValidation.js"></script>
<script src="http://sbootstrap-freelancer.startbootstrapc.netdna-cdn.com/js/contact_me.js"></script>
<!-- Custom Theme JavaScript -->
<script src="http://sbootstrap-freelancer.startbootstrapc.netdna-cdn.com/js/freelancer.js"></script>
