<!-- About Section -->
    <section class="success" id="project">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About the Project and the Course</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <p>Groktools is <a href="http://www.github.com/vinodkd">vinodkd</a>'s project submission for the Educational Technology course (CS6460), part of the Georgia Tech OMSCS</p>
                    <p>Groktools aims to fix gaps in program comprehension by building small tools that dovetail into existing dev workflows.</p>
                    <p>If you're interested to learn more about the project, a <a href="project-timeline.html">timeline</a> is available, as are <a href="project-artifacts.html">artifacts</a> from the project</p>
                </div>
                <div class="col-lg-5 col-lg-offset-1">
                    <p><a href="http:///www.gatech.edu">Georgia Tech</a>'s <a href="http:///omscs.gatech.edu/">OMSCS program</a> is the first online Masters from a top 5 Grad School</p>
                    <p><a href="https://www.udacity.com/wiki/ud915/Spring2016/">Educational Technology (CS6460)</a> is an interesting, course that's run by Dr.David Joyner of Georgia Tech via the OMSCS program</p>
                    <p>Its a <b>mini-PHD</b> essentially, with an initial phase of intense literature study in one of 8-10 Ed Tech topics, followed by either a research or tool development project on a topic that you're narrowed down to. Some really awesome projects are happening there!</p>
                </div>
            </div>
        </div>
    </section>
