<!-- About Section -->
    <section id="research">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Research</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p>As part of the project a lot of research papers, especially from the <a href="http://program-comprehension.org">International Conference on Program Comprehension</a> were read and used.
                      Here's my <a href="research-papers.html">full list with brief comments on each paper</a>.</p>
                </div>
                <div class="col-lg-6">
                    <p>I also looked into quite a few <a href="/os-projects.html">Open source projects</a>.</p>
                </div>
            </div>
        </div>
    </section>
